
.name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.font{
    font-size: 1em;
    font-weight: bold;

}
.image{
    width: 30em;
    padding-top: 1em;
    border-radius: 60em;
}
.skill-sec{
    background-color: rgb(235, 226, 226);
}
.pad{
    padding-top: 6em;
}
.box{
    width: 60em;
}
.form{
    margin-top: 10em;
    margin-left: 30em;
}
.rohn{
    padding-top: 6em;
}
.top-name{
    text-decoration: none;
    color: white;
    
}